@model PFA.Models.Module

@{
    ViewData["Title"] = "Delete";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Delete Module</title>
</head>

<body class="details-container">
    <div class="module-details">
        <h4>Etes-vous sûr de vouloir supprimer ceci ?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NomModule)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NomModule)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Formation)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Formation != null)
                {
                    @Html.DisplayFor(model => model.Formation.Description)
                }
            </dd>

            <dt class="col-sm-2">
                Description du Module
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DescriptionMod)
            </dd>
        </dl>
    </div>

    <div class="navigation-links">
        <form asp-action="Delete" class="form-inline">
            <input type="hidden" asp-for="IdModule" />
            <input type="submit" value="Delete" class="btn btn-small btn-edit" />
            <a asp-action="Index" class="btn btn-small btn-back">Back to List</a>
        </form>
    </div>
</body>
